body {
  background-image: url('../img/dot-grid.png');
}

.logo {
  font-family: 'Peralta', cursive;
}

.logo a {
  color: rgba(0,0,0,.9);
}

.logo a:hover,
.logo a:active {
  text-decoration: none;
}

.checkbox-field{
  height:100px;
}

input#id_is_adult.form-control{
  display: block;
  float: left !important;
  width: auto;
}
