{% extends 'base.html' %}
{% load static %}
{% block breadcrumb %}
  <li class="breadcrumb-item active">Boards</li>
{% endblock %}

{% block content %}
    {% if user.user_type == 'B' %}
        <p>
            <button type="button" data-url="{% url 'board_create' %}" class="btn btn-primary js-create-board">
                <span class="glyphicon glyphicon-plus"></span>
                New board
            </button>
        </p>
    {% endif %}
  <table id="board-table" class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Board</th>
        <th>Posts</th>
        <th>Topics</th>
        <th>Last Post</th>
      </tr>
    </thead>
    <tbody>
        {% include 'includes/partial_board_list.html' %}
    </tbody>
  </table>
    <div class="modal fade" id="modal-board">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
  <script src="{% static 'js/boards.js' %}"></script>
{% endblock %}