{% extends 'base.html' %}

{% load static %}
{% load gravatar %}
{% block title %}{{ topic.subject }}{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
  <li class="breadcrumb-item"><a href="{% url 'board_topics' topic.board.pk %}">{{ topic.board.name }}</a></li>
  <li class="breadcrumb-item active">{{ topic.subject }}</li>
{% endblock %}

{% block content %}

  <div class="mb-4">
    <a href="{% url 'reply_topic' topic.board.pk topic.pk %}" class="btn btn-primary" role="button">Reply</a>
    <a href="{% url 'to_pdf' topic.board.pk topic.pk %}" class="btn btn-success" role="button">To PDF</a>
    <a href="{% url 'to_csv' topic.board.pk topic.pk %}" class="btn btn-success" role="button">To CSV</a>

  </div>
    <div class="infinite-container">
      {% include 'includes/topic_posts_to_pdf.html' %}
    </div>

  <div class="loading" style="display: none;">
    Loading...
  </div>

  {% if page_obj.has_next %}
    <a class="btn btn-primary btn-block mb-5 text-center infinite-more-link" href="?page={{ page_obj.next_page_number }}">More</a>
  {% endif %}



{% endblock %}

{% block javascript %}
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/infinite.min.js' %}"></script>
    <script>
        var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0]
        })
  </script>
{% endblock %}